<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %> | Sweet Scoops</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Baby+Kruffy&display=swap">
</head>
<body>
	<header>
		<h1><%= heading %></h1>
	</header>

	<main>
		<p><%= para %></p>
	</main>

	<footer>
		<button onclick="window.location.href='../'">Back to Home</button>
		<p>&copy; 2024 Sweet Scoops. All rights reserved.</p>
	</footer>
</body>
<script>
	if ('<%= alert %>') {
		alert('<%= alert %>')
	}
	window.location.href = '<%= redirect %>'
</script>
</html>
